@font-face {
  font-family: Uwords;
  src: url(./assets/fonts/avenirnextcyr-bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(100vw / (1280 / 10));
  /* outline: 1rem solid red; */
}

body {
  background-color: #000;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2rem 0 2rem;
}

.burger {
  display: none;
}

.logo_texts {
  display: flex;
  gap: 0.5rem;
  font-family: Uwords;
}

.uw {
  color: #f2ece7;
}

.ai {
  color: #ddff53;
}

.nav_links a {
  color: #f2ece7;
  font-size: calc(1200 / 1440 * 2rem);
  margin-left: 1rem;
  margin-right: 1.5rem;
  font-family: Uwords;
  text-decoration: none;
  font-weight: 400;
}

.active {
  color: #ddff53 !important;
}

.download_button {
  background-color: #ddff53;
  color: #1a1a1a;
  width: calc(1200 / 1440 * 13.2rem);
  height: calc(1200 / 1440 * 4.4rem);
  border-radius: calc(1200 / 1440 * 5rem);
  font-size: calc(1200 / 1440 * 2rem);
}

.hero {
  width: 100%;
  border-radius: 3rem;
  background: linear-gradient(
      rgba(242, 236, 231, 0.7),
      rgba(242, 236, 231, 0.7)
    ),
    url(./assets/imgs/Сетка.webp);
  background-size: cover;
  background-position: center;
  margin-top: 3rem;
}

.texts_on_top {
  display: flex;
  flex-direction: column;
}

.texts_on_top h1 {
  font-family: Uwords;
  font-size: calc(1200 / 1440 * 12.8rem);
  margin-left: 3rem;
  text-transform: uppercase;
  margin-top: 1rem;
}

.two_sided_top {
  display: flex;
}
.two_side_h1 {
  max-width: 35rem;
  margin-left: 3rem;
  font-family: Uwords;
  font-size: calc(1200 / 1440 * 2.4rem);
  font-weight: 700;
  font-style: Demi;
  text-transform: uppercase;
  margin-top: 2rem;
}

.img_on_two_sided_top {
  width: calc(1200 / 1440 * 80rem);
  height: calc(1200 / 1440 * 25rem);
  transform: translateX(13.5rem) translateY(-9rem);
}

.first_card_in_hero {
  display: flex;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 3rem;
  width: calc(1200 / 1440 * 136rem);
  height: calc(1200 / 1440 * 53rem);
  margin-left: 8rem;
}

.img_in_hero {
  width: calc(1200 / 1440 * 38rem);
  height: calc(1200 / 1440 * 48rem);
  margin-top: 4.3rem;
}

.hhhh1 {
  margin-bottom: 3rem;
  padding-top: 13rem;
}

.texts_in_hero_card {
  border-top: 7rem;
}

.texts_in_hero_card h1 {
  color: #f2ece7;
  font-family: Uwords;
  font-size: calc(1200 / 1440 * 3rem);
  margin-top: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 7rem;
}

.texts_in_hero_card span {
  color: #ddff53;
}

.img_path_hero {
  transform: translateX(-32rem) translateY(-37.4rem);
  border-radius: 4rem;
}



.ordered_imgs{
  display: flex;
  flex-direction: column;
}

.zero_order, .first_order, .second_order, .third_order{
  display: flex;
}

.first_img{
  width: calc(1200/1440*44rem);
  height: calc(1200/1440*56rem);
  margin-left: 10rem;
}

.zero_img{
  width: calc(1200/1440*68.4rem);
  height: calc(1200/1440*47.5rem);
  margin-top: 5rem;
  margin-left: 8rem;
}

.scribble{
  width: calc(1200/1440*14.1rem);
  height: calc(1200/1440*14.1rem);
  margin-top: 15rem;
  margin-left: 35rem;
}


.second_img{
    width: calc(1200/1440*68.4rem);
  height: calc(1200/1440*47.5rem);
  margin-top: 5rem;
  margin-left: 20rem;
}


.second_order_img{
  margin-left: 3rem;
}

.Scribble1{
  width: calc(1200/1440*14.1rem);
  height: calc(1200/1440*14.1rem);
  margin-top: 20rem;
  margin-left: 35rem;
}


.Scribble2{
  width: calc(1200/1440*14.1rem);
  height: calc(1200/1440*14.1rem);
  margin-top: 15rem;
  margin-left: 30rem;
}

.third_order_img{
  width: calc(1200/1440*68.4rem);
  height: calc(1200/1440*47.5rem);
  margin-top: 5rem;
  margin-left: 25rem;
}


.h1_in_form_section{
  font-size: calc(1200/1440*12.8rem);
  color: #F2ECE7;
  font-family: Uwords;
  margin-left: 13rem;
  text-transform: uppercase;
  margin-top: 7rem;
  margin-bottom: 7rem;
}




.anketa{
  color: #DDFF53 !important;
}


.form_in_section{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form_in_section input{
  width: calc(1200/1440*62rem);
  height: calc(1200/1440*6.2rem);
  background-color: #F2ECE7;
  margin-left: 3rem;
  border: none;
  outline: none;
  text-indent: 2rem;
  border-radius: 3rem;
  font-size: 2rem;
}

.attach_img{
  width: calc(1200/1440*62rem);
  height: calc(1200/1440*19.3rem);
  margin-left: 3rem;
}


.send_btn{
  background-color: #ffffff61;
  color: #f2ece7b5;
  width: 15rem;
  height: 3rem;
  border-radius: 3rem;
  border: none;
  margin-left: 20rem;
}


.first_text_in_form{
  color: #F2ECE799;
  font-family: Uwords;
  font-size: calc(1200/1440*2.4rem);
  max-width: 35rem;
  margin-left: 7rem;
  margin-bottom: 5rem;
}


.img_in_right_form{
  width: calc(1200/1440*145rem);
  height: calc(1200/1440*120rem);
}



.badges1111{
  display: flex;
  gap: 8rem;
  margin-top: 5rem;
}


.badges1111 img{
  width: calc(1200/1440*40rem);
  height: calc(1200/1440*11.8rem);
}

.playmarket_badge{
  margin-left: 5rem;
}

.footer_title{
  color: transparent;
  -webkit-text-stroke: 0.1rem #F2ECE7;
  font-size: calc(1200/1440*12rem);
  font-family: Uwords;
  margin-top: 3rem;
  margin-left: 5rem;
  transform: translateY(12rem);

}

.footer_img{
  width: calc(1200/1440*152rem);

}

.footer_bust{
  width: calc(1200/1440*28rem);
  height: calc(1200/1440*35rem);
  /* transform: translateX(12rem); */
  margin-left: 2rem;
  transform: translateY(-29.5rem);
}



.badges2{
  display: flex;
  gap: 2rem;
  transform: translateX(85rem) translateY(-82rem);
}

.badges2 img{
  color: #DDFF53;
  width: calc(1200/1440*8rem);
  height: calc(1200/1440*8rem);
}

.options_in_footer{
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.options_in_footer a{
  text-decoration: none;
  color: #FFFFFFCC;
  font-size: calc(1200/1440*2.4rem);
  font-family: Uwords;
  margin-left: 63rem;
}
.footer_link{
  margin-top: -72rem;
}

.options2_in_footer{
  display: flex;
  gap: 4rem;
  flex-direction: column;
}

.options2_in_footer a{
  text-decoration: none;
  color: #FFFFFFCC;
  font-size: calc(1200/1440*2.4rem);
  font-family: Uwords;
  margin-left: 93rem;

}

.footer_link2{
  margin-top: -72rem;
}




@media only screen and (max-width: 500px) {
  html {
    font-size: calc(100vw / (1280 / 10));
  }
  .burger {
    display: block !important;
  }
  .nav_links,
  .buttons_in_nav {
    display: none;
  }
  .logo_texts h1 {
    font-size: 4rem;
  }
  .burger img {
    width: 4rem;
    height: 4rem;
  }

  .hero {
    width: 95%;
    margin-left: 2.5rem;

  }

  .texts_on_top h1 {
    font-size: 12rem;
  }
  .two_sided_top {
    display: flex;
    flex-direction: column;
  }

  .img_on_two_sided_top {
    transform: translateX(55rem) translateY(-20rem);
    width: 55rem;
    height: 20rem;
  }

  .two_side_h1{
    transform: translateX(3rem) translateY(14rem);
    max-width: 110rem;
    font-size: 4rem;
  }

  .first_card_in_hero{
    width: 90%;
    margin-left: 6rem;
    height: 170rem;
    display: flex;
    flex-direction: column;
    margin-top: 25rem;
  }
  .texts_in_hero_card{
    margin-left: 0;
  }

  .texts_in_hero_card h1{
    text-align: start;
    max-width: 45rem;
    font-size: 5rem;
    margin-left: 0;
    text-align: start;
    margin-left: -39rem;
    
  }

  .img_in_hero{
    width: 40rem;
    height: 50rem;
    margin-top: -30rem;
    margin-left: 60rem;
  }

  .hhhh1{
    transform: translateY(-16rem);
    margin-bottom: 0;
  }

  .aaaa1{
    margin-top: -70rem;
    margin-bottom: 10rem;
  }
  .img_path_hero{
    width: 22rem;
    height: 14rem;
    transform: translateY(-160.7rem) translateX(-44rem);
  }
  

  .ordered_imgs{
    display: flex;
    flex-direction: column;

  }

  .first_img{
    margin-left: 0;
  }
  .zero_img{
    width: 55rem;
    height: 35rem;
    margin-left: 2rem;
  }

  .scribble{
    margin-left: 10rem;
  }

  .second_img{
    width: 55rem;
    height: 35rem;
    margin-left: 7rem;
  }

  .second_order_img{
    width: 55rem;
    height: 55rem;
    margin-top: 10rem;
  }

  .Scribble1{
    margin-left: 20rem;
    margin-top: 30rem;
  }


  .third_order_img{
    width: 55rem;
    height: 35rem;
    transform: translateX(-2rem);
    margin-left: 17rem;
  }


  .Scribble2{
    margin-left: 1rem;
  }
  .h1_in_form_section{
    max-width: 15rem;
    font-size: 20rem;
    margin-left: 0rem;
  }

  .first_text_in_form{
    font-size: 5rem;
    max-width: 120rem;
  }

  .form_in_section input{
    width: 95%;
    height: 12rem;
    border-radius: 5rem;
    font-size: 4rem;
    text-indent: 4rem;
  }
  .form_in_section input::placeholder{
    font-size: 4rem;
  }

  .attach_img{
    width: 95%;
    height: 35rem;
  }

  .send_btn{
    width: 40rem;
    height: 10rem;
    margin-left: 45rem;
  }
  .badges1111{
    display: flex;
    flex-direction: column;
    gap: 6rem;
    margin-top: 10rem;
    margin-left: 35rem;
  }

  .badges1111 img{
    width: 60rem;
    height: 20rem;
  }

  .playmarket_badge{
    margin-left: 0;
  }
  
  .badges2{
    width: 0;
  }
  footer{
    height: 32vh;
  }
}
